/* RESET */
html {
  font-family: Georgia, 'Times New Roman', sans-serif;
  box-sizing: border-box;
  background: #fde889;
}

*,
*::before,
*::after 
{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1, h2, h3 {
  color: #a668d8;
  margin-bottom: 16px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

p, .list li {
  font-size: 25px;
  margin-bottom: 16px;
}
/* index.html */

ul.nav {
  background-color: #ca97eb;
  list-style: none;
}

ul.nav a {
  display: block;
  text-decoration: none;
  color: #fdf7db;
  border: 1px solid #fdf7db;
  padding: 12px;
}

ul.nav a:hover {
  background-color: #a668d8;
}

/* Recipes */
body.container {
  padding: 16px;
}

.home {
  text-align: right;
  display: block;
  margin-left: auto;
  font-size: 24px;
  padding: 20px;
  width: 150px;

}

.home::before {
  display: inline-block; 
  content: "←";
  padding-right: 5px;
}

.img.preview {
  border: 5px solid #a668d8;
}

ul.list li, ol.list li{
  margin-left: 20px;
}




